#carousel {
	padding-top: 5px;
}

#historique {
	padding-top: 5px;
	font-style: oblique;
  	font-family: Times, Times New Roman, serif;
	font-size: 20px;
}


#team {
	padding-top: 50px;
	width: 100%;
}

#accordionExample {
	padding-bottom: 5px;
}

#card1 {
	background-color: orange;
	height: 230px;
	width: 230px;
	text-align: center;
}

#card2 {
	background-color: blue;
	height: 230px;
	width: 230px;
	text-align: center;
}