<header class="fixed-top">

  <nav class="navbar nav-tabs navbar-expand-sm navbar-light bg-white justify-content-between">
        <a class="navbar-brand" href="#">MICI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="menu">
            <a class="nav-link" href="">Acceuil</a>
            <a class="nav-link" href="about">L'Entreprise</a>
            <a class="nav-link" href="services">Services</a>
            <a class="nav-link" href="divers">Blog & Forum</a>
            <a class="nav-link" href="expertises">Expertise</a>
          </div>
        </div>
  </nav>

</header>

      <div style="padding-top: 100px;"><router-outlet></router-outlet></div>

      <footer class="shadow-sm p-3 mb-5 bg-white">
        <table align="center">
          <tr>
            <td>
              <ul id="menu">
                <li>
                  <a href="#" id="fb"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#" id="tw"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" id="ig"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href="#" class="in"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p align="center">Powered by <a href="www.mici.com" id="lien_f">mici.com</a></p>
                </td>
              </tr>
        </table>
                          
        
      </footer>
