<div class="container-fluid">
	<div class="row m-auto">
		<div class="col-xs-12 col-md-12 col-sm-12">
			<div class="container shadow p-3 mb-5 bg-white">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-xs-12">
						
						<form class="form-inline my-2 my-lg-0">
					      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
					    </form>

					</div>
				</div>

					<p id="title"> Nos services </p>

				<div class="row" id="services">

					<!-- VENTE DE BIENS IMMOBILIERS-->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="vbi">
							  <img class="card-img" src="../assets/services/vbi.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Vente de biens immobiliers</h5>
							    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							   <p align="right"> <a href="/services/vbi_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							  </div>
							</div>

						</div>
					</div>

					<!-- PRESTATIONS DE SERVICES IMMOBILIERS-->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="psi">
							  <img class="card-img" src="../assets/services/psi.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Prestations de services immobiliers</h5>
							     <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							     <p align="right"> <a href="/services/psi_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							  </div>
							</div>

						</div>
					</div>

					<!-- VENTE DE MATERIELS DE CONSTRUCTION-->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="vmc">
							  <img class="card-img" src="../assets/services/outils.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Vente de matériels de construction</h5>
							    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							    <p align="right"> <a href="/services/vmc_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							  </div>
							</div>

						</div>
					</div>

					<!-- VENTE DE MOBILIERS DE MAISON-->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="vmm">
							  <img class="card-img" src="../assets/services/vmm.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Vente de mobiliers de maison</h5>
							    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							    <p align="right"> <a href="/services/vmm_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							    
							  </div>
							</div>

						</div>
					</div>

					<!-- LOCATION DE MAISON-->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="lm">
							  <img class="card-img" src="../assets/services/lm.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Location de maison</h5>
							    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							    <p align="right"> <a href="/services/lm_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							    
							  </div>
							</div>

						</div>
					</div>


					<!-- CONSEILS EN IMMOBILIER -->
					<div class="col-sm-4 col-md-4 col-xs-12">
						<div class="shadow-sm p-3 mb-5 bg-white rounded">

							<div class="card text-white" id="ci">
							  <img class="card-img" src="../assets/services/ci.jpg" alt="Card image">
							  <div class="card-img-overlay">
							    <h5 class="card-title">Conseils en Immobilier</h5>
							    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							    <p align="right"> <a href="/services/ci_plus"><font size="5px" color="orange"> Consulter </font></a></p>
							    
							  </div>
							</div>

						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>